* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #242629;
}
.container {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    background-color: #16161a;
    color: #fffffe;
}
